.authenticate {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin: 10px;
    padding: 20px; */
    margin: 20px 20px 20px 20px;
  }
  .authenticate{flex: 1 100%;}
  
  /* .auth__left {
    flex: 0.5;
    text-align: center;
  } */
  
  .auth__right {
    flex: 0.1;
  }
  
  .auth__left > img {
    width: 400px;
    margin-top: 40px;
  }
  
  .auth__more {
    /* border: 0.5px solid grey;
    padding: 10px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px; */
    text-align: center;
  }
  
  .auth__more > span {
    font-weight: 500;
    font-size: 14px;
  }
  
  .auth__more > span > button {
    background: 0;
    border: 0;
    font-weight: bolder;
    color: #0095f6;
  }
  
  .auth__more > span > button:hover {
    cursor: pointer;
  }