.login {
    display: flex;
    flex-direction: column;
    border: 2px solid white;
    padding: 50px;
    margin-top:50px;
    margin-bottom:50px;
    margin-right: 50px;
    margin-left: 50px;
  }
  
  .login > img {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
  }
  .login>h1{
    text-align: center;
    
  }
  
  .login > input {
    background-color:#ffffff24;
    border: 1px solid white;
    border-radius: 3px;
    padding: 12px;
    margin-bottom: 10px;
    color:white;
  }
  
  .login > input:focus {
    outline: 1px solid white;
  }
  
  .login > button {
    padding: 12px;
    border-radius: 8px;
    border: 0;
    font-weight: bolder;
    color: white;
    background-color: #0095f6;
  }
  
  .login > button:hover {
    cursor: pointer;
  }